<div class="container">
  <div class="filters">
    <a routerLink="/catalog/Heads" class="button bold">Heads</a>
    <a routerLink="/catalog/Arms" class="button">Arms</a>
    <a routerLink="/catalog/Torsos" class="button">Torsos</a>
    <a routerLink="/catalog/Bases" class="button">Bases</a>
    <a [routerLink]="['/catalog','']" class="button">All</a>
  </div>

  <ul class="products">
    <li class="product-item" *ngFor="let product of getFilteredProducts()">
      <pad-product-details 
        [product]="product" 
        (buy)="addToCart(product)"
      ></pad-product-details>
    </li>
  </ul>
</div>
